.our-services__block_b1{
background:url(/image/__services/__services_backgound/block-1.png) 50% 50% no-repeat;
background-size:auto;
}
.our-services__block_b2{
background:url(/image/__services/__services_backgound/block-2.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b3{
background:url(/image/__services/__services_backgound/block-3.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b4{
background:url(/image/__services/__services_backgound/block-4.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b5{
background:url(/image/__services/__services_backgound/block-5.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b6{
background:url(/image/__services/__services_backgound/block-6.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b7{
background:url(/image/__services/__services_backgound/block-7.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b8{
background:url(/image/__services/__services_backgound/block-8.png) 50% 50% no-repeat;
background-size: auto;
}
.our-services__block_b9{
background:url(/image/__services/__services_backgound/block-9.png) 50% 50% no-repeat;
background-size: auto;
}
